DATABASE_HOST=127.0.0.1
DATABASE_PORT=4306
DATABASE_USERNAME=user
DATABASE_PASSWORD=password
DATABASE_NAME=article
DATABASE_NAME_TEST=article_test
ELASTIC_HOST=127.0.0.1
ELASTIC_PORT=9200
ELASTIC_INDEX=articles
ELASTIC_INDEX_TEST=articles_test